{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mt-5">Sign Up</h1>
    {% if message %}
        <div class="alert alert-danger mt-3">{{ message }}</div>
    {% endif %}
    <h2> Enter your Details</h2>
    <form method="post" action="{{ url_for('auth.signup') }}">
        
        <div class="form-group mt-3">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" id="name" required>
        </div>
        <div class="form-group mt-3">
            <label for="class">Class</label>
            <input type="text" name="class" class="form-control" id="class" required>
        </div>
        <div class="form-group mt-3">
            <label for="section">Section</label>
            <input type="text" name="section" class="form-control" id="section" required>
        </div>
        <div class="form-group mt-3">
            <label for="age">Age</label>
            <input type="number" name="age" class="form-control" id="age" required>
        </div>
        <div class="form-group mt-3">
            <label for="roll_no">Roll No</label>
            <input type="text" name="roll_no" class="form-control" id="roll_no" required>
        </div>
        <div class="form-group">
            <label for="username">Username to be set</label>
            <input type="text" name="username" class="form-control" id="username" required>
        </div>
        <div class="form-group mt-3">
            <label for="password">Password to be set</label>
            <input type="password" name="password" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Sign Up</button>
    </form>
    <br>
    Have an account? Login <a href="{{url_for('auth.login')}}">from here</a>
</div>
{% endblock %}
